<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>
	<link rel="stylesheet" href="/static/css/contact/contact.css">
</head>
<body>
	<nav>
			<ul>
				<li><b><a href="/home">Home</a></b></li>
				<li><b><a href="/index">Register</a></b></li>
				<li><b><a href="/login">Login</a></b></li>
				<li><b><a href="/aboutus">About us</a></b></li>
				<li><b><a href="#">Dashboard</a></b></li>
			</ul>
	</nav>
	<div class="container">
		<div class="contact-method">
		<img src="/static/css/contact/mail.png" alt="">
		<span>abc@gmail.com</span>
	</div>
		<div class="contact-method">
		<img src="/static/css/contact/contact.png" alt="">
		<span>1234567890</span>
	</div>
		<div class="contact-method" >
		<img src="/static/css/contact/address.png" alt="">
		<span><a href="home.html">abc@gmail.com</a></span>
	</div>


</body>
</html>
