<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="F:\Auto4you\static\css\home\stylehome.css">
	</head>
<body>
		<div id="main">
		<nav>
			<ul>
				<li><b><a href="/index">Register</a></b></li>
				<li><b><a href="/login">Login</a></b></li>
				<li><b><a href="/aboutus">About us</a></b></li>
				<li><b><a href="/contact">Contact us</a></b></li>
				<li><b><a href="#">Dashboard</a></b></li>
			</ul>
			</nav>
			<div class="box">
     <form>
     <p><marquee>Hii book a ride and get 20%off on each booking</marquee></p>
     </form>
	 <div class="box1">
     <form>
     <p><marquee>Hii book a ride and get 20%off on each booking</marquee></p>
     </form>
		</div>
	</header>
</body>

</html>